.content__container {
  width: 100%;
  background: linear-gradient(90deg, $bgColorDark, $bgColor);
  &:before {
    content: '';
  }
}

.content {
  position: relative;
  min-width: $widthMin;
  max-width: $widthMax;
  margin: 0 auto;
  padding: 20px 0;
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 300%;
}

.content__article {
  width: 600px;
}

.content__steps {
  display: flex;
  margin: 20px 0;
  counter-reset: steps;
}

.content__step {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 80px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &:before {
    position: absolute;
    left: calc(50% - 100px);
    top: 20px;
    height: 4px;
    width: 80px;
    content: '';
    transform: translate(0, -50%);
    background-color: $colorGray;
  }

  &:first-child:before {
    width: 0;
    height: 0;
  }

  &:last-child:before {
    left: 0;
  }

  &:after {
    position: absolute;
    left: calc(50% + 20px);
    top: 20px;
    height: 4px;
    width: 80px;
    content: '';
    transform: translate(0, -50%);
    background-color: $colorGray;
  }

  &:first-child:after {
    left: calc(40px);
  }

  &:last-child:after {
    width: 0;
    height: 0;
  }
}

.content__step__circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: radial-gradient(
    transparent 0%, transparent 50%,
    darken($colorGold, 10%) 50%, darken($colorGold, 10%) 55%,
    transparent 55%, transparent 65%,
    $colorGold 65%, $colorGold 100%
  );
  cursor: pointer;
  transition: all 120ms linear;

  &:before {
    counter-increment: steps;
    content: counter(steps);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    content: '';
    background-image: radial-gradient(
      $colorGold 0%, $colorGold 20%,
      $colorWhite 20%, $colorWhite 50%,
      $colorGold 50%, $colorGold 55%,
      $colorWhite 55%, $colorWhite 65%,
      $colorGold 65%, $colorGold 100%
    );
    opacity: 0;
    transition: all 120ms linear;
  }

  &:hover:after {
    opacity: 1;
  }

  &:hover {
    color: $colorGold;
  }
}

.content__step__text {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 10px;
  transform: translate(-50%, 0%);
  white-space: nowrap;
}

.content__step:first-child .content__step__text{
  left: 20px;
}

.content__step:last-child .content__step__text{
  left: calc(100% - 20px);
}

.content__return {
  position: absolute;
  right: 0;
  top: 20px;
  display: inline-block;
  margin: 20px;
  text-transform: uppercase;
  color: $colorGold;
  cursor: pointer;

  &:after {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    content:'';
    background-image: url(../img/return-btn.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
  }
}