.header__container {
  width: 100%;
  background-color: $colorBlueDark;
}

.header {
  display: flex;
  align-items: center;
  min-width: $widthMin;
  max-width: $widthMax;
  margin: 0 auto;
  height: $navHeight;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.home-btn {
  width: 20px;
  height: 19px;
  padding: 7px 14px;
  border-radius: 4px;
  background-image: url(../img/home-btn.svg);
  background-repeat: no-repeat;
  background-size: 20px 19px;
  background-position: center;
  background-color: $colorBlue;
  transition: background 200ms linear;

  &:hover {
    background-color: lighten($colorBlue, 5%);
  }
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.menu__item {
  margin: 0 15px;
}