
// Colors
$colorWhite: #fff;
$colorGray: #808080;
$colorBlueDark: #051842;
$colorBlue: #133163;
$colorGold: #a89967;
$bgColorDark: #0a427d;
$bgColor: #0086ac;

// Sizes
$widthMin: 1200px;
$widthMax: 1260px;

